# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.pyre/
.python-version

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables
.env
.env.*

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
